*.config
*.creator
*.files
*.includes

/vfs
/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake

/Debug
/Release
*.bin
*.sdf
*.opensdf
*.suo
*.vcxproj.user

# binary files
/vfsTest
/vmkfs
/vmkdir
/vls
/vrm
/vcp
/vmv

